@media(max-width:1023px)
{

/********************bootstrap break point********************/
.navbar-header {float: none;}   
.navbar-left,.navbar-right {float: none !important;}   
.navbar-toggle {display: block;}   
.navbar-collapse {border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}   
.navbar-fixed-top {top: 0; border-width: 0 0 1px;}   
.navbar-collapse.collapse {display: none!important;}   
.navbar-nav {float: none!important; margin-top: 7.5px;}   
.navbar-nav>li {float: none;}   
.navbar-nav>li>a {padding-top: 10px; padding-bottom: 10px;}   
.collapse.in{display:block !important;} 

/*******************bootstrap break point********************/



.xs-same-logo
{
    display: block !important;
}

.same-logo-wrapper img 
{
    display: block;
    margin: auto;
}

.xs-count
{
    padding: 10% 15px 5% 15px;
}

[src="img/logo-xs.png"]{display: block;}

[src="img/logo.png"]{display: none;}

.main-wrapper{display: block;}

.main-wrapper .first {width: 100%;}

.date-wrapper {display: none;}

.main-wrapper .second 
{
    width: 100%;
    background: #44c8f5;
    min-height: 20px;
}

.main-wrapper .third {width: 100%;}

.inside-third {display: block;}

.enter a {display: inline-block; margin-bottom: 15px;}

.panel-name {padding-top: 10px; padding-bottom: 20px;}

.second nav {display: block;}

.second .navbar-inverse {background-color: transparent;border-color: transparent;}

.second .navbar-inverse .navbar-nav > .active > a, .second .navbar-inverse .navbar-nav > .active > a:focus
{
    color: #fff;
    background-color: transparent;
    font-size: 18px;
}

.second .navbar-inverse .navbar-nav > li > a 
{
   color: #fff;
    background-color: transparent;
    font-size: 18px;
}

.second .navbar-inverse .navbar-nav > .open > a, .second .navbar-inverse .navbar-nav > .open > a:focus, .second .navbar-inverse .navbar-nav > .open > a:hover
{
    background: transparent;
}

.second .navbar-inverse .navbar-nav .open .dropdown-menu > li > a
{
    color: #fff;
    font-size: 18px;
}

.second .navbar-inverse .navbar-collapse
{
    border-color: #005CAB;
}

.first table
{
    width:100%;
}

.first table img 
{
    margin: auto;
}

[src="img/mind-with.png"] {display: block; padding-top: 30px;padding-bottom: 30px;}

[src="img/date.png"] {display: block; padding-bottom: 20px;}

.web-banner-xs-hi {display: none;}

.xs-aj-vi {display:block;}

.second .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {font-size: 14px;}

.navbar-inverse .navbar-toggle {border-color: #fff;}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #005CAB;
    border:1px solid #005CAB;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {color:#005CAB !important;}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {color:#005CAB !important;}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {color:#005CAB !important;}

.video-required {margin-bottom: 20px;}

[src="img/contact-gear.jpg"] {margin-bottom: 20px;}

.inside-third img {width:100%;}

[src="img/about-todd.jpg"] {width:100%;}

[src="img/about-hand.jpg"] {width:100%;}

.web-banner-joane-lg
{
    display: none;
}

.web-banner-joane-xs
{
    display: inline-block;
}

} /**********end media *****************/

/****************media 769****************/

@media(max-width:769px)
{

[src="img/date.png"] {display: none;}

body, html 
{
    background:transparent;
}


  .main-wrapper 
{
    box-shadow: -5px 5px 50px #fff;
    -o-box-shadow: -5px 5px 50px #fff;
    -moz-box-shadow: -5px 5px 50px #fff;
    -webkit-box-shadow: -5px 5px 50px #fff;
    -ms-box-shadow: -5px 5px 50px #fff;
}

.body-padding 
{padding-top:0;}

.inside-third .padding-15
{padding:0;}


.inside-third {padding:0;}

.main-wrapper .third {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top:15px;
}

.lg-video
{
    display: none;
}

.visible-xs-block 
{
    display: none !important;
    -o-display: flex !important;
    -moz-display: flex !important;
    -webkit-display: flex !important;
    -ms-display: flex !important;
}

.btn {width: 100%;}

.body-padding 
{
    padding-left: 0;
    padding-right: 0;
}

.inside-third .padding-15{padding:0; width:100%;}

.xs-same-back
{
    
}

} /***********media 769*************/